# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# virtual machine env
spark/venv/
Spark-cluster/venv/
visualization/venv/

# pycache
spark/dependencies/__pycache__/
Spark-cluster/dependencies/__pycache__/
visualization/dependencies/__pycache__/

# COVID-19 dataset archives
data/

# generated hdfs results (during local testing)
spark/outputs/
spark/temporary.parquet/
spark/spark-warehouse/

spark/jobs/outputs/
spark/jobs/temporary.parquet/
spark/jobs/spark-warehouse/

spark-cluster/outputs/
spark-cluster/temporary.parquet/
spark-cluster/spark-warehouse/

spark-cluster/jobs/outputs/
spark-cluster/jobs/temporary.parquet/
spark-cluster/jobs/spark-warehouse/

# other
.DS_Store