[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyspark = "==3.1.1"
ipython = "*"
flake8 = "*"
numpy = "*"
pandas = "*"
plotly = "*"
prophet = "*"
openpyxl = "*"
seaborn = "*"
sklearn = "*"
wordcloud = "*"
shap = "*"
xgboost = "*"
folium = "*"
gensim = "*"
nltk = "*"
textblob = "*"
networkx = "*"
requests = "*"

[requires]
python_version = "3.9"
