[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
textblob = "*"
prophet = "*"
pandas = "*"
sklearn = "*"
tensorflow = "~=2.4.2"
keras = "~=2.4.0"
pyarrow = "*"

[dev-packages]
pyspark = "==3.1.1"

[requires]
python_version = "3.8"
